# Python config
python-decouple==3.1
dynaconf==2.2.0

# Flask
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
Flask-Migrate==2.4.0

# API, Serialization & documentation
Flask-RESTful==0.3.7
flask-marshmallow==0.10.1
marshmallow-sqlalchemy==0.19.0
flasgger==0.9.2

# Logging
notifiers==1.2.0
loguru==0.2.5

# JWT
flask-jwt-extended==3.17.0

# CORS
flask-cors==3.0.7
