version: 2.1

executors:
  machine-executor:
    machine:
      image: circleci/classic:latest
  python-executor:
    docker:
      - image: circleci/python:3.7

commands:
  base-command:
    steps:
      - checkout
      - run: make config.env

jobs:
  flake8:
    executor: python-executor
    steps:
      - checkout
      - run: pip install flake8
      - run: flake8

  test:
    executor: machine-executor
    steps:
      - base-command
      - run: make test

workflows:
  version: 2.1
  tests:
    jobs:
      - flake8
      - test